* {
    margin: 0%;
    padding: 0%;
}

body {
    background: #FFFFFF;
}

.div-btn {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 6%;
    padding: 0px;
}

.departament-btn {
    display: block;
    height: 208px;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    padding-top: 20%;
}

/* 
.departament-btn:active {
    background: #F7FAFF;
    border: 1px solid #0066FF;
  } */

.restaurant-config {
    margin-left: 8%;
    margin-right: 4%;
}

.kitchen-config {
    margin-right: 8%;
    margin-left: 4%
}

.page-link{
    margin-top: 8%;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.font-config {
    font-family: Raleway;   
    font-style: normal;
    color: #3A3B3D;
}

.title-main {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin-top: 18%;
    margin-left: 4%;
}

.link {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    height: 550px;

}
