* {
    padding: 0px;
    margin: 0px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.status-btn {
    width: 184px;
    height: 84px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #BDBDBD;
    margin: 20px;
}

.status-btn:focus {
    outline: none;
    color: #3A3B3D;
    border: 1px solid #0066FF;
    background: #F7FAFF;
}

.section-cards {
    display: flex;
    justify-content: center;
}